@using DotaESport.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://dota2.com">DotA 2</a>.</p>
</div>
