
@using DotaESport.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.ytimg.com/vi/b41bPE4hIOA/maxresdefault.jpg" alt="Team Nigma" width="1100" height="500">
            <div class="carousel-caption">
                <h3>Team Nigma</h3>
                <p>Road to TI 10</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.hotspawn.com/app/uploads/2019/11/dota_teamsectre_dpc1920.png" alt="Team Secret" width="1100" height="500">
            <div class="carousel-caption">
                <h3>Team Secret</h3>
                <p>Road to TI 10</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.glitched.online/wp-content/uploads/2019/10/AFASFASfASF-1024x575.jpg" alt="Alliance" width="1100" height="500">
            <div class="carousel-caption">
                <h3>Alliance</h3>
                <p>Road to TI 10</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://r5d4b7t7.stackpathcdn.com/wp-content/uploads/2020/01/NEWSMEDIA-scaled.jpg" alt="OG" width="1100" height="500">
            <div class="carousel-caption">
                <h3>OG</h3>
                <p>Road to TI 10</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>