/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.heroContainer

{
    width: 23%;
    display: inline-block;
}

.HeroImage {
    max-width: 50px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.carousel-inner-img {
    width: 100%;
    height: 550px;
}

.bg {
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-white-pink {
    background-color: #ff678c !important;
}

.bg-DotA {
    background-image: url(https://wallpaperaccess.com/full/1719375.jpg);
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-opacity {
    color: goldenrod;
    background: rgba(0, 0, 0, 0.3);
}
.text-opacity2 {
    color: goldenrod;
    background: rgba(181, 67, 0, 0.3);
}

.text-red {
    color: #bb2c31 !important;
}

#columnHeader {
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px 14px 0px;
}

#columnHeaderTextStr, #columnHeaderTextAgi, #columnHeaderTextInt {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_str.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 6px 10px 15px 40px;
    overflow: visible;
    text-transform: uppercase;
    color: #616363;
    font-size: 16px;
    font-family: KoreanFont,georgia,serif;
}

#columnHeaderTextAgi {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_agi.png');
}

#columnHeaderTextInt {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_int.png');
}


#ItemImage2 {
    float: left;
    clear: both;
    width: 182px;
    height: 138px;
    border: solid #242424 3px;
    margin-right: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#bodyContainer {
	position:relative;
}
#calloutContainer {
	position:absolute;
	top:0px;
	z-index:1;
}

#centerColOuter_Callout,#centerColOuter_NoCallout {
	width:984px;
	margin:0 auto;
}
#centerColOuter_Callout {
	padding-top:300px;
}
#centerColOuter_NoCallout {
	padding-top:20px;
}
#centerColTopShadow,#centerColTop,#centerColBottom,#centerColBottomShadow {
	z-index:2;
	width:984px;
}
#centerColTopShadow,#centerColBottomShadow {
	height:25px;
}
#centerColTop, #centerColBottom { height: 9px; }

#centerColContainer {
    z-index: 2;
    width: 100%;
    padding: 10px 23px;
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/centercolbox_repeat.png');
    background-repeat: repeat-y;
}

#centerColContent {
    width: 938px;
}

#centerColContent h1 {
    margin: 0;
    padding: 8px 0;
    font-family: KoreanFont,georgia,serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 36px;
    color: #d9d9d9;
}

#ImageBackground {
    width: 262px;
    height: 149px;
    position: relative;
    margin: 10px 0 20px 0;
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/herotopportrait_container.png');
}

#centerColContent h3 {
    color: #9c3627;
    font-family: KoreanFont,georgia,serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
    margin: 20px 0 10px 0;
}


.centerColHR {
    height: 3px;
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/centercolbox_hr.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 0;
}

.redboxOuter {
    margin: 0;
    padding: 0;
    width: 914px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242728', endColorstr='#111313'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#242728), to(#111313)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #242728, #111313); /* for firefox 3.6+ */
}

.redboxTop, .redboxBottom {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/redborderbox_top.png');
    margin: 0;
    width: 914px;
    height: 23px;
}

.redboxBottom {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/redborderbox_bottom.png');
}

.redboxContent {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/redborderbox_bg_vtile.png');
    background-repeat: repeat-y;
    background-position: center;
    width: 914px;
    margin: 0;
}
#overviewInner {
    padding: 6px 6px;
    width: 850px;
    text-align: left;
}

#heroPrimaryPortraitOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
}

#portraitPosition {
    position: relative;
    left: 10px;
}
