/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.heroContainer

{
    width: 23%;
    display: inline-block;
}

.HeroImage {
    max-width: 50px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.carousel-inner-img {
    width: 100%;
    height: 600px;
}

.bg {
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-DotA {
    background-image: url(https://wallpaperaccess.com/full/1719375.jpg);
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-opacity {
    background: rgba(0, 0, 0, 0.3);
}

#columnHeader {
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px 14px 0px;
}

#columnHeaderTextStr, #columnHeaderTextAgi, #columnHeaderTextInt {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_str.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 6px 10px 15px 40px;
    overflow: visible;
    text-transform: uppercase;
    color: #616363;
    font-size: 16px;
    font-family: KoreanFont,georgia,serif;
}

#columnHeaderTextAgi {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_agi.png');
}

#columnHeaderTextInt {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_int.png');
}