<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Add Trip</h1>
        <div style="padding: 5%;">
            <form method="post">
                <div class="form-group">
                    <label for="imagePath">Car Image</label>
                    <input type="text" class="form-control" id="imagePath" name="imagePath" placeholder="https://...">
                </div>
            </form>
        </div>
    </div>
</section>