@using DotaESport.Web.ViewModels.Heroes.ViewModels
@model IEnumerable<AllHeroesViewModel>


@using DotaESport.Common
@{
    this.ViewData["Title"] = "All Heroes";
}
<br>
<br>
<br>

<div>
    <h1>
        All Heroes MongoDb View
    </h1>
</div>