@using DotaESport.Common
@model DotaESport.Web.ViewModels.DotaAccounts.DotaAccountsViewModel
@{
    this.ViewData["Title"] = "Steam Info";
}




    <h2 class="text-primary text-center">@Model.Nickname</h2>