@using DotaESport.Common
@model DotaESport.Web.ViewModels.DotaAccounts.DotaAccountsViewModel
@{
    this.ViewData["Title"] = "Steam Info";
}




<div class="row bg-dark-gray table-bordered">
    <div class="col-md-6">
        <div class="row">
            <div class="col-3 mt-1 mb-1 table-bordered">
                <img id="avatar" src="@Model.Avatar" alt="Avatar" />
            </div>
            <div class="col table-bordered">
                <h2> @Model.Nickname</h2>
            </div>
        </div>
    </div>
    <div class="col">

    </div>
</div>

<br />

<div class="row">
    <div class="col-9 ">
        <img src="@Model.Avatar" alt="Avatar" class="mx-auto d-block  table-bordered" />
        <h2 class="text-primary text-center  table-bordered">@Model.Nickname</h2>
    </div>
    <div class="col  table-bordered"></div>
</div>


@*<div class="row">
    <div class="col-4 mt-1 mb-1 table-bordered">
        <h3 class="text-white-50">Ten</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-1 mt-1 mb-1 table-bordered">
        <h3 class="text-white-50">Ten</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-1 mt-1 mb-1 table-bordered">
        <h3 class="text-white-50">Ten</h3>
    </div>
</div>


<div class="row">
    <div class="col-lg-1 mt-1 mb-1 table-bordered">
        <h3 class="text-white-50">Ten</h3>
    </div>
</div>

<div class="row">
    <div class="col-xl-1 mt-1 mb-1 table-bordered">
        <h3 class="text-white-50">Ten</h3>
    </div>
</div>*@