
@using DotaESport.Common
@model DotaESport.Web.ViewModels.Articles.ArticleViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

    <div  class="text-white text-opacity">
        <h1>@Model.Title</h1>
        <div>
            <img src="@Model.ImgUrl"/>
        </div>
            @Html.Raw(Model.SanitizedContent)
    </div>

<h1>Hello</h1>